<footer>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <ul class="menu-footer">
                        <li>
                            <a href="">Acerca de nosotros</a>
                        </li>
                        <li>
                            <a href="">Descargar poliza</a>
                        </li>
                        <li>
                            <a href="">Términos y condiciones</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <h4 class="text-center">Síguenos en nuestras redes sociales</h4>
                    <ul class="text-center d-block redes">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                            
                        </li>
                        <li>
                            <a href="https://www.youtube.com/">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="https://www.instagram.com/">
                            <a href="">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </li>
                    </ul>

                </div>
                
            </div>
        </div>
    
        <p class="copy text-center">&copy; Copyright {{anio}} Edison Vidal Ospina Corredor</p>
</footer>
